[submodule "agents/pi/third_party/pi-tutorial"]
	path = agents/pi/third_party/pi-tutorial
	url = https://github.com/earendil-works/pi-tutorial
[submodule "agents/pi/third_party/dotpi"]
	path = agents/pi/third_party/dotpi
	url = https://github.com/Michaelliv/dotpi.git
